body {
	font-family: 'Verdana', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;    
}

.calculadora-dano {
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #878787;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #9cc1ec9a;
}

.linha-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.elementos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    object-fit: cover;
}

.elemento {
    cursor: pointer;
}

.elemento p {
    text-align: center;
    font-weight: bold;
}

button {
    background-color: black;
    border: 2px;
    border-radius: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.selecionado {
    border: 2px solid blue;
    border-radius: 20px;
    padding: 10px;
}

#dano {
    font-size: medium;
    font-weight: bold;
}